// Here you can add other styles

body {
	background: #fff;
}

.marvel-device {
	&.iphone6 {
		width: 375px;
		height: auto !important;
		min-height: 667px;
		padding: 105px 24px;
		background: #d9dbdc;
		border-radius: 56px;
		position: relative;
		box-sizing: content-box !important;
		-webkit-border-radius: 56px;
		-webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);
		box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);

		&::before {
			width: calc(100% - 12px);
			height: calc(100% - 12px);
			position: absolute;
			top: 6px;
			content: '';
			left: 6px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
			background: #f8f8f8;
			z-index: 1;
		}

		.bottom-bar, .top-bar {
			height: 3px;
			background: #000;
			width: 100%;
			display: block;
		}

		.top-bar {
			height: 14px;
			background: #bfbfc0;
			position: absolute;
			top: 68px;
			left: 0;
		}

		.bottom-bar {
			height: 14px;
			background: #bfbfc0;
			position: absolute;
			bottom: 68px;
			left: 0;
		}

		.sleep {
			position: absolute;
			top: 190px;
			right: -4px;
			width: 4px;
			height: 66px;
			-webkit-border-radius: 0 2px 2px 0;
			border-radius: 0 2px 2px 0;
			background: #d9dbdc;
		}

		.volume {
			position: absolute;
			left: -4px;
			top: 188px;
			z-index: 0;
			height: 66px;
			width: 4px;
			-webkit-border-radius: 2px 0 0 2px;
			border-radius: 2px 0 0 2px;
			background: #d9dbdc;

			&::before {
				position: absolute;
				left: 2px;
				top: -78px;
				height: 40px;
				width: 2px;
				-webkit-border-radius: 2px 0 0 2px;
				border-radius: 2px 0 0 2px;
				background: inherit;
				content: '';
				display: block;
			}

			&::after {
				position: absolute;
				left: 0;
				top: 82px;
				height: 66px;
				width: 4px;
				-webkit-border-radius: 2px 0 0 2px;
				border-radius: 2px 0 0 2px;
				background: inherit;
				content: '';
				display: block;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 12px;
			height: 12px;
			position: absolute;
			top: 24px;
			left: 50%;
			margin-left: -6px;
			-webkit-border-radius: 100%;
			border-radius: 100%;
			z-index: 3;
		}

		.sensor {
			background: #3c3d3d;
			width: 16px;
			height: 16px;
			position: absolute;
			top: 49px;
			left: 134px;
			z-index: 3;
			-webkit-border-radius: 100%;
			border-radius: 100%;
		}

		.speaker {
			background: #292728;
			width: 70px;
			height: 6px;
			position: absolute;
			top: 54px;
			left: 50%;
			margin-left: -35px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			z-index: 3;
		}

		.home {
			-webkit-border-radius: 100%;
			border-radius: 100%;
			width: 68px;
			height: 68px;
			position: absolute;
			left: 50%;
			margin-left: -34px;
			bottom: 22px;
			z-index: 3;
			background: #303233;
			background: -moz-linear-gradient(-45deg,#303233 0,#b5b7b9 50%,#f0f2f2 69%,#303233 100%);
			background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#303233),color-stop(50%,#b5b7b9),color-stop(69%,#f0f2f2),color-stop(100%,#303233));
			background: -webkit-linear-gradient(-45deg,#303233 0,#b5b7b9 50%,#f0f2f2 69%,#303233 100%);
			background: -o-linear-gradient(-45deg,#303233 0,#b5b7b9 50%,#f0f2f2 69%,#303233 100%);
			background: -ms-linear-gradient(-45deg,#303233 0,#b5b7b9 50%,#f0f2f2 69%,#303233 100%);
			background: linear-gradient(135deg,#303233 0,#b5b7b9 50%,#f0f2f2 69%,#303233 100%);

			&::before {
				background: #f8f8f8;
				position: absolute;
				content: '';
				-webkit-border-radius: 100%;
				border-radius: 100%;
				width: calc(100% - 8px);
				height: calc(100% - 8px);
				top: 4px;
				left: 4px;
			}
		}

		.screen {
			z-index: 2;
			width: 100%;
			color: #fff;
			height: 100%;
			display: block;
			min-height: 667px;
			position: relative;
			border-radius: 1px;
			text-align: center;
			padding: 15px;
			-webkit-border-radius: 1px;
			background: #eff2f7 !important;
			-webkit-box-shadow: 0 0 0 3px #111;
			box-shadow: 0 0 0 3px #111;
		}

		@include media-breakpoint-down(sm) {
			width: 100%!important;
			height: auto!important;
			min-height: auto!important;
			padding: 0!important;
			border-radius: 0!important;
			background: 0 0!important;
			margin-bottom: 0;
			box-shadow: none!important;
			-webkit-box-shadow: none!important;
			&::before {
				display: none;
			}
			.screen {
				box-shadow: none;
				border-radius: 0;
				height: auto!important;
				min-height: auto!important;
			}
			.bottom-bar, .top-bar, .home, .volume, .camera, .sensor, .speaker {
				display: none;
			}
		}
	}
}

// Blocks
.blocks-list-item {
	color: #000;
	cursor: pointer;
	text-align: left;
	position: relative;

	.block-text {
		position: relative;
		margin-bottom: 1rem;

		.block-edit {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 100;
			display: none;
			background: rgba(0, 0, 0, 0.05);
			position: absolute;
			transition: 0.3s;
		}

		&:hover {
			.block-edit {
				display: block;
			}
		}
	}

	.block-handle {
		top: 0;
		bottom: 0;
		left: -100px;
		width: 30px;
		opacity: .6;
		border-radius: 2px;
		position: absolute;
		background: #273444;
		cursor: -webkit-grab;
		transition: opacity .15s ease;

		&:hover {
			opacity: 1;
		}

		span {
			top: 50%;
			left: 50%;
			width: 15px;
			height: 2px;
			display: block;
			background: #fff;
			position: absolute;
			transform: translate(-50%,-50%);

			&::before, &::after {
				left: 0;
				right: 0;
				top: -5px;
				content: '';
				height: 2px;
				background: #fff;
				position: absolute;
			}
			&::after {
				top: initial;
				bottom: -5px;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding-left: 45px;
		.block-handle {
			left: 0;
		}
	}
}

.block-modal {

	.nav-tabs {
		margin: -10px -16px 15px;
		.nav-link {
			border: none;
			border-bottom: 1px solid transparent;
		}

		.nav-link.active, .nav-link:hover, .nav-tabs .nav-link:focus {
			border: none;
			border-bottom: 1px solid $primary;
		}
	}
	.tab-content {
		border: none;
	}
	.tab-content .tab-pane {
		padding: 0;
	}
}

.block-modal-cards {
	.block-modal-card {
		cursor: pointer;
	}
}


//Inputs, Textareas, Buttons

textarea {
	min-height: 100px;
}

.dropdown-primary {
	color: #fff;
	background: #20a8d8 !important;

	&:hover, &:focus {
		color: #fff;
		background: #1b8eb7 !important;
	}
}

.custom-switch .custom-control-label::before {
	height: 22px !important;
	border-radius: 0.7rem !important;
	width: 40px !important;
}

.custom-switch .custom-control-label::after {
	width: 18px !important;
	height: 18px !important;
	border-radius: 0.7rem !important;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	transform: translateX(18px) !important;
	background-image: none !important;
}
	
.form-fields-item {
	z-index: 2000;
	background: #eee;
	border-radius: 2px;
	margin-bottom: 15px;

	.form-fields-item-header {
			display: flex;
			position: relative;
			align-items: center;
			padding-left: 40px;
			justify-content: space-between;

			a {
					padding: 10px;
			}
	}

	.form-fields-item-body {
			padding: 15px;
	}
}

.form-fields-item-handle {
	top: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	opacity: .6;
	border-radius: 2px;
	position: absolute;
	background: #273444;
	cursor: -webkit-grab;
	transition: opacity .15s ease;

	&:hover {
		opacity: 1;
	}

	span {
		top: 50%;
		left: 50%;
		width: 15px;
		height: 2px;
		display: block;
		background: #fff;
		position: absolute;
		transform: translate(-50%,-50%);

		&::before, &::after {
			left: 0;
			right: 0;
			top: -5px;
			content: '';
			height: 2px;
			background: #fff;
			position: absolute;
		}
		&::after {
			top: initial;
			bottom: -5px;
		}
	}
}

//Drop image
.drop-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	width: 100%;
	height: 200px;
	text-align: center;
	border-radius: 2px;
	transition: 0.3s;
	border: 4px dashed #ccc;
	i {
		font-size: 3rem;
	}
	&:hover {
		background: #eee;
	}
}

// Carousel
.carousel-slide {
	position: relative;
	padding-bottom: 50%;
	background-position: center;
	background-size: cover;
	.image-remove {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		font-size: 3rem;
		position: absolute;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.2);
	}

	.carousel-caption {
		top: 0;
		bottom: 0;
		cursor: pointer;
	}

	&:hover {
		.image-remove {
		display: flex;
		}
	}
}